<div class="row">
    <main class="col-md-12">
        <br>
        {{viewData.firstName}}
        {{viewData.student.firstName}}
        {{student.firstName}}
        {{firstName}}

        {{#each viewData.student}}
        <h2>{{firstName}} {{lastName}} - Student: {{studentNum}}</h2>
        {{/each}}
        <hr />
        <form method="post" action="/student/update">
        {{viewData.student.lastName}}
            {{#each viewData.student}}
            <input type="hidden" name="studentNum" value="{{studentNum}}" />
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input class="form-control" name="firstName" type="text"
                                value="{{firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input class="form-control" name="lastName" type="text"
                                value="{{lastName}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" name="email" type="email" value="{{email}}">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Address (Street):</label>
                            <input class="form-control" name="addressStreet" type="text"
                                value="{{addressStreet}}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Address (City):</label>
                            <input class="form-control" name="addressCity" type="text"
                                value="{{addressCity}}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Address (Province):</label>
                            <input class="form-control" name="addressProvince" type="text"
                                value="{{addressProvince}}">
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Academic Information</legend>
                <div class="row">
                    <div class="col-md-4">

                        <label>College Employment:</label><br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="TA" id="TA" {{#equal TA
                                true}}checked{{/equal}}>
                            <label class="form-check-label" for="TA">
                                Teaching Assistant
                            </label>
                        </div>
                        <br>

                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Enrollment Status:</label><br>
                            <label class="checkbox-inline">
                                <input type="radio" id="statusFT" name="status" {{#equal status "Full Time"
                                    }}checked{{/equal}} value="Full Time"> Full Time
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="statusPT" name="status" {{#equal status "Part Time"
                                    }}checked{{/equal}} value="Part Time"> Part Time
                            </label>
                        </div>
                    </div>
                    {{/each}}
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="course">Enrolled in Course:</label>
                            {{#if viewData.courses}}
                            <select class="form-control" name="course" id="course">
                                <option value="">Select Course</option>
                                {{#each viewData.courses}}
                                <option value="{{courseId}}" {{#if selected}} selected {{/if}}>{{courseCode}} </option>
                                {{/each}}
                            </select>
                            {{else}}
                            <div>No Courses</div>
                            {{/if}}
                        </div>
                    </div>
                </div>


            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Update Student" /><br /><br /><br />
        </form>
    </main>
</div>